<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-expression-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-context-indexer-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-aop-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-context-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-core-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-aop-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-context-support-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-aspects-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-context-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-expression-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-jcl-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-instrument-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-context-support-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-core-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-context-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-context-indexer-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-beans-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-beans-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-context-indexer-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-expression-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-instrument-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-jcl-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-aspects-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-core-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-context-support-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-beans-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-aspects-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-instrument-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-aop-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-jcl-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-jdbc-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-jdbc-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-jdbc-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-jms-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-jms-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-jms-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-messaging-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-messaging-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-messaging-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-orm-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-orm-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-orm-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-oxm-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-oxm-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-oxm-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-test-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-test-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-test-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-tx-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-tx-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-tx-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-web-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-web-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-web-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-webflux-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-webflux-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-webflux-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-webmvc-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-webmvc-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-webmvc-5.2.3.RELEASE.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-websocket-5.2.3.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-websocket-5.2.3.RELEASE-sources.jar!/" />
      <root url="jar://E:/Software/Software/JAVA/jar/spring/spring-websocket-5.2.3.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>