<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.record.dao.RecordMapper">
    <resultMap id="recordMap" type="com.entity.Record">
        <result property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="recordTime" column="record_time" />
        <result property="recordDistance" column="record_distance" />
        <result property="recordSpeed" column="record_speed" />
        <result property="recordDate" column="record_date" />
        <result property="recordPoints" column="record_points" />
    </resultMap>
    <select id="getUserTodayKm" resultType="Integer">
        select sum(record_distance) from record
        where substr(adddate(now(),-1),0,10)=substr(record_date,0,10) and user_id=#{userId}
    </select>
    <insert id="insertRecord" parameterType="com.entity.Record">
        insert into record('user_id','record_time','record_distance',
        'record_speed','record_date','record_points') values(#{userId},#{recordTime},#{recordDistance}
        ,#{recordSpeed},#{recordDate},#{recordPoints})
    </insert>
</mapper>