<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smallpigeon.interest.dao.InterestMapper">
        <resultMap id="interestMap" type="com.smallpigeon.entity.Interest">
            <id property="id" column="id"></id>
            <result property="user_id" column="user_id"></result>
            <result property="outdoor" column="outdoor"></result>
            <result property="music" column="music"></result>
            <result property="film" column="film"></result>
            <result property="society" column="society"></result>
            <result property="delicacy" column="delicacy"></result>
            <result property="science" column="science"></result>
            <result property="star" column="star"></result>
            <result property="comic" column="comic"></result>
        </resultMap>
    <select id="getAllInterests" resultMap="interestMap">
        select * from interest
    </select>
    <insert id="addInterest" parameterType="Interest">
        insert into interest(user_id,outdoor,music,film,society,delicacy,science,star,comic) values (#{user_id},#{outdoor},#{music},#{film},#{society},#{delicacy},#{science},#{star},#{comic})
    </insert>
    <delete id="deleteInterest">
        delete from interest where id=#{id}
    </delete>
    <select id="getInterest" resultMap="interestMap">
        select * from interest where id=#{id};
    </select>
    <update id="updateInterest">
        update interest set user_id=#{user_id},outdoor=#{outdoor},music=#{music},film=#{film},society=#{society},delicacy=#{delicacy},science=#{science},star=#{star},comic=#{comic}
        where id=#{id}
    </update>
</mapper>